#person-form-container {
  min-width: 206px;
  margin: 20px;
}

#person-form {
  margin-top: 20px;
}

#person-form-button {
  color: white;
  background-color: #28a745;
  border-radius: 8px;
  box-shadow: 1px 0 3px 0 gray;
}
