* {
  background-color: #8d70d2;
}

h2,
h4,
ul {
  margin: 8px;
}

@media screen and (max-width: 600px) {
  #upper-content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 786px) {
}

#upper-content-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  border-radius: 15px;
}

#form-container * {
  background-color: #ffffff;
}

#person-container {
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  width: 30%;
  padding: 40px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#person-container * {
  background-color: #ffffff;
}
.person {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#person-container::-webkit-scrollbar {
  display: none;
}
